<mat-tab-group animationDuration="0ms" [selectedIndex]="matchModel.scoreCards.length -1">
    <mat-tab *ngFor="let scorecard of matchModel.scoreCards" label="{{scorecard.inningsInfo.battingTeamName.split(':')[0]}}  {{scorecard.inningsInfo.inningsName}}">
        <div>
            <div>
                <div class="tab-container" *ngIf="matchModel.gameStatus != 'pre'">
                    <div class="det-cont">
                        <!-- batting -->
                        <div>
                            <div>
                                <table class="cric-tbl">
                                    <thead>
                                        <tr class="scr-hd-br">
                                            <th style="width: 50px;" scope="col">Batting</th>
                                            <th scope="col"></th>
                                            <th scope="col" class="text-center head-desc" style="width:24px">R</th>
                                            <th scope="col" class="text-center head-desc" style="width:24px">B</th>
                                            <th scope="col" class="text-center head-desc" style="width:24px">4s</th>
                                            <th scope="col" class="text-center head-desc" style="width:24px">6s</th>
                                            <th scope="col" class="text-center head-desc" style="width:44px">S/R</th>
                                            <th style="width:18px"></th>
                                        </tr>
                                    </thead>

                                    <tbody *ngFor="let battingScoreLeaf of scorecard.battingScoreCard.battingScoreLeaves">
                                        <tr></tr>
                                        <tr class="scr-hd-br">
                                            <td class="plyr-img-td">
                                                <div>
                                                    <img class="mom-img img-border" src="{{imageHostName}}/players/{{battingScoreLeaf.playerName.split(':')[1]}}.png" style="width:42px;height:42px" alt="" onError="this.src='../../assets/images/bat-default.jpg'">
                                                </div>
                                            </td>
                                            <td class="stat-td">
                                                <div>
                                                    <span class="pointr" (click)="viewPlayer(battingScoreLeaf.playerName.split(':')[1])">  {{battingScoreLeaf.playerName.split(':')[0]}} </span>
                                                </div>
                                                <div class="wkt-det"> <span>{{battingScoreLeaf.dismissalText}}</span></div>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>{{battingScoreLeaf.runs}}</span>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>{{battingScoreLeaf.balls}}</span>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>{{battingScoreLeaf.fours}}</span>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>{{battingScoreLeaf.sixes}}</span>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>{{battingScoreLeaf.strikeRate}}</span>
                                            </td>
                                            <td style="width:18px"></td>

                                        </tr>

                                        <tr></tr>

                                    </tbody>
                                    <tbody>

                                        <tr class="scr-hd-br ex-tr">
                                            <td colspan="1" class="stat-td">DNB</td>
                                            <td colspan="5">
                                                <span class="pointr" (click)="viewPlayer(yetToBatPlayer.playerName.split(':')[1])" *ngFor="let yetToBatPlayer of scorecard.battingScoreCard.yetToBat; let isLast=last">

                                                {{yetToBatPlayer.playerName.split(':')[0]}}{{isLast ? '' : ', '}}
                                            </span>
                                            </td>
                                        </tr>

                                        <tr class="scr-hd-br ex-tr">
                                            <td colspan="2" class="stat-td">Extras</td>
                                            <td class="stat-td det-de">{{scorecard.inningsInfo.extras}}</td>
                                            <td colspan="4" class="stat-td det-de" style="font-size: smaller;">(W {{scorecard.inningsInfo.wides}}, LB {{scorecard.inningsInfo.legByes}}, B {{scorecard.inningsInfo.byes}}, NB {{scorecard.inningsInfo.noBalls}})</td>
                                        </tr>
                                        <tr class="scr-hd-br ex-tr">
                                            <td colspan="2" class="stat-td">Total Runs</td>
                                            <td class="stat-td det-de">{{scorecard.inningsInfo.runs}}</td>
                                            <td colspan="4" class="stat-td det-de" style="font-size: smaller;">({{scorecard.inningsInfo.wickets}} wkts, {{scorecard.inningsInfo.overs}} ov)</td>

                                        </tr>

                                    </tbody>

                                </table>
                            </div>
                            <div class="scr-hd-br"></div>
                        </div>
                    </div>

                    <div class="det-cont">
                        <!-- bowling -->
                        <div>
                            <div>
                                <table class="score-tbl">
                                    <thead>
                                        <tr class="scr-hd-br">
                                            <th style="width: 50px;" scope="col">Bowling</th>
                                            <th scope="col"></th>
                                            <th scope="col" class="text-center head-desc" style="width:32px">O</th>
                                            <th scope="col" class="text-center head-desc" style="width:24px">M</th>
                                            <th scope="col" class="text-center head-desc" style="width:24px">R</th>
                                            <th scope="col" class="text-center head-desc" style="width:24px">W</th>
                                            <th scope="col" class="text-center head-desc" style="width:40px">Eco</th>
                                            <th style="width:18px"></th>
                                        </tr>
                                    </thead>

                                    <tbody *ngFor="let bowlingScoreLeaf of scorecard.bowlingScoreCard.bowlingScoreLeaves">
                                        <tr></tr>
                                        <tr class="scr-hd-br">
                                            <td class="plyr-img-td">
                                                <div>
                                                    <img class="mom-img img-border" src="{{imageHostName}}/players/{{bowlingScoreLeaf.playerName.split(':')[1]}}.png" style="width:42px;height:42px" alt="" onError="this.src='../../assets/images/bat-default.jpg'">
                                                </div>
                                            </td>
                                            <td class="stat-td">
                                                <span class="pointr" (click)="viewPlayer(bowlingScoreLeaf.playerName.split(':')[1])">  {{bowlingScoreLeaf.playerName.split(':')[0]}} </span>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>{{bowlingScoreLeaf.overs}}</span>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>{{bowlingScoreLeaf.maidens}}</span>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>{{bowlingScoreLeaf.runs}}</span>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>{{bowlingScoreLeaf.wickets}}</span>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>{{bowlingScoreLeaf.economyRate}}</span>
                                            </td>
                                            <td style="width:18px"></td>

                                        </tr>

                                        <tr></tr>

                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </mat-tab>

</mat-tab-group>

<mat-tab-group animationDuration="0ms" *ngIf="matchModel.gameStatus == 'pre'">
    <mat-tab label="{{matchModel.team1Name.split(':')[0]}}">
        <app-squad [squad]="matchModel.team1squad"></app-squad>
    </mat-tab>

    <mat-tab label="{{matchModel.team2Name.split(':')[0]}}">
        <app-squad [squad]="matchModel.team2squad"></app-squad>
    </mat-tab>


</mat-tab-group>