<mat-tab-group animationDuration="0ms">
    <mat-tab *ngFor="let scorecard of matchModel.scoreCards" label="{{scorecard.inningsInfo.battingTeamName.split(':')[0]}}">
        <div>
            <div>
                <div class="innings-container">
                    <div class="det-cont">
                        <!-- batting -->
                        <div>
                            <div>
                                <table class="score-tbl">
                                    <thead>
                                        <tr class="scr-hd-br">
                                            <th style="width: 50px;" scope="col">Batting</th>
                                            <th scope="col"></th>
                                            <th scope="col" class="text-center head-desc" style="width:24px">R</th>
                                            <th scope="col" class="text-center head-desc" style="width:24px">B</th>
                                            <th scope="col" class="text-center head-desc" style="width:24px">4s</th>
                                            <th scope="col" class="text-center head-desc" style="width:24px">6s</th>
                                            <th scope="col" class="text-center head-desc" style="width:44px">S/R</th>
                                            <th style="width:18px"></th>
                                        </tr>
                                    </thead>

                                    <tbody *ngFor="let battingScoreLeaf of scorecard.battingScoreCard.battingScoreLeaves">
                                        <tr></tr>
                                        <tr class="scr-hd-br">
                                            <td class="plyr-img-td">
                                                <div>
                                                    <img class="mom-img img-border" src="/assets/images/player/{{battingScoreLeaf.playerName.split(':')[1]}}.png"
                                                                                      style="width:42px;height:42px" alt="">
                                                </div>
                                            </td>
                                            <td class="stat-td">
                                                <div>{{battingScoreLeaf.playerName.split(':')[0]}}</div>
                                                <div class="wkt-det"> <span>{{battingScoreLeaf.dismissalText}}</span></div>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>{{battingScoreLeaf.runs}}</span>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>{{battingScoreLeaf.balls}}</span>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>{{battingScoreLeaf.fours}}</span>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>{{battingScoreLeaf.sixes}}</span>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>{{battingScoreLeaf.strikeRate}}</span>
                                            </td>
                                            <td style="width:18px"></td>

                                        </tr>

                                        <tr></tr>

                                    </tbody>
                                    <tbody>
                                        <tr class="scr-hd-br ex-tr">
                                            <td colspan="2">Extras</td>
                                            <td>{{scorecard.inningsInfo.extras}}</td>
                                            <td colspan="4">(W {{scorecard.inningsInfo.wides}}, LB {{scorecard.inningsInfo.legByes}}, B {{scorecard.inningsInfo.byes}}, NB {{scorecard.inningsInfo.noBalls}})</td>

                                        </tr>
                                        <tr class="scr-hd-br ex-tr">
                                            <td colspan="2">Total Runs</td>
                                            <td>{{scorecard.inningsInfo.runs}}</td>
                                            <td colspan="4">({{scorecard.inningsInfo.wickets}} wkts, {{scorecard.inningsInfo.overs}} ov)</td>

                                        </tr>

                                    </tbody>

                                </table>
                            </div>
                            <div class="scr-hd-br"></div>
                        </div>
                    </div>




                    <div class="det-cont">
                        <!-- bowling -->
                        <div>
                            <div>
                                <table class="score-tbl">
                                    <thead>
                                        <tr class="scr-hd-br">
                                            <th style="width: 50px;" scope="col">Bowling</th>
                                            <th scope="col"></th>
                                            <th scope="col" class="text-center head-desc" style="width:32px">O</th>
                                            <th scope="col" class="text-center head-desc" style="width:24px">M</th>
                                            <th scope="col" class="text-center head-desc" style="width:24px">R</th>
                                            <th scope="col" class="text-center head-desc" style="width:24px">W</th>
                                            <th scope="col" class="text-center head-desc" style="width:40px">Eco</th>
                                            <th style="width:18px"></th>
                                        </tr>
                                    </thead>

                                    <tbody *ngFor="let bowlingScoreLeaf of scorecard.bowlingScoreCard.bowlingScoreLeaves">
                                        <tr></tr>
                                        <tr class="scr-hd-br">
                                            <td class="plyr-img-td">
                                                <div>
                                                    <img class="mom-img img-border" src="/assets/images/player/{{bowlingScoreLeaf.playerName.split(':')[1]}}.png" style="width:42px;height:42px" alt="">
                                                </div>
                                            </td>
                                            <td class="stat-td">
                                                <div> {{bowlingScoreLeaf.playerName.split(':')[0]}}</div>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>{{bowlingScoreLeaf.overs}}</span>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>{{bowlingScoreLeaf.maidens}}</span>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>{{bowlingScoreLeaf.runs}}</span>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>{{bowlingScoreLeaf.wickets}}</span>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>{{bowlingScoreLeaf.economyRate}}</span>
                                            </td>
                                            <td style="width:18px"></td>

                                        </tr>

                                        <tr></tr>

                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ven-cont">
                    <div>
                        <div class="det-div">
                            <div class="toss-div">
                                <span style="padding-right: 5px;">Toss:</span>
                                <Span>{{matchModel.toss}}</Span>
                            </div>
                            <div class="toss-div" style="padding-right: 5px;">
                                <span>Stadium:</span>
                                <Span>{{matchModel.venue}}</Span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </mat-tab>


</mat-tab-group>