<mat-tab-group animationDuration="0ms">
    <mat-tab style="width: 50% !important;" label="Newzeland">

        <div>
            <div>
                <div class="innings-container">
                    <div class="det-cont">
                        <!-- batting -->
                        <div>
                            <div>
                                <table class="score-tbl">
                                    <thead>
                                        <tr class="scr-hd-br">
                                            <th style="width: 50px;" scope="col">Batting</th>
                                            <th scope="col"></th>
                                            <th scope="col" class="text-center head-desc" style="width:24px">R</th>
                                            <th scope="col" class="text-center head-desc" style="width:24px">B</th>
                                            <th scope="col" class="text-center head-desc" style="width:24px">4s</th>
                                            <th scope="col" class="text-center head-desc" style="width:24px">6s</th>
                                            <th scope="col" class="text-center head-desc" style="width:44px">S/R</th>
                                            <th style="width:18px"></th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr></tr>
                                        <tr class="scr-hd-br">
                                            <td class="plyr-img-td">
                                                <div>
                                                    <img class="mom-img img-border" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQH8qPDUOTEz6ZbAt7kn1jAt6N-jQTCc24G0x_fdHi1_zwrlNhMqVQQKXx75CKOQdjB352Egr7f74vJvaoFBoUVbc-w5zw8ZQnCzw" style="width:42px;height:42px" alt="">
                                                </div>
                                            </td>
                                            <td class="stat-td">
                                                <div>Prithvi Shaw</div>
                                                <div class="wkt-det"> <span>b Tim Southee</span></div>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>24</span>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>16</span>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>6</span>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>0</span>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>126.32</span>
                                            </td>
                                            <td style="width:18px"></td>

                                        </tr>

                                        <tr></tr>

                                    </tbody>

                                    <tbody>
                                        <tr></tr>
                                        <tr class="scr-hd-br">
                                            <td class="plyr-img-td">
                                                <div>
                                                    <img class="mom-img img-border" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSA3ruKIScKoFDxEkimhFm9oU2JlOlk9Cd15_Fo8UawF67fMDfVTg_PjfrrZzlUbsoBAej0Xp5Ng-ZbGz6ILKycD3O_hPt5LLceDA" style="width:42px;height:42px" alt="">
                                                </div>
                                            </td>
                                            <td class="stat-td">
                                                <div>Mayank Agarval</div>
                                                <div class="wkt-det"> <span>c Ross Taylor b Hamish Bennett</span></div>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>3</span>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>5</span>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>0</span>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>0</span>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>60</span>
                                            </td>
                                            <td style="width:18px"></td>

                                        </tr>

                                        <tr></tr>

                                    </tbody>

                                    <tbody>
                                        <tr></tr>
                                        <tr class="scr-hd-br">
                                            <td class="plyr-img-td">
                                                <div>
                                                    <img class="mom-img img-border" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRk3eHNNLvcUCWXMmxnoHsqvKmBidDhzQaGKRtYhb4vFMVWnzLCxET5zPzCn-XPJYJZrrISxDFDFBH_N67g579phT5rZdNvoL0YBw" style="width:42px;height:42px" alt="">
                                                </div>
                                            </td>
                                            <td class="stat-td">
                                                <div>Virat Kohli (C)</div>
                                                <div class="wkt-det"> <span>b Tim Southee</span></div>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>52</span>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>57</span>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>7</span>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>1</span>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>91.23</span>
                                            </td>
                                            <td style="width:18px"></td>

                                        </tr>

                                        <tr></tr>

                                    </tbody>
                                    <tbody>
                                        <tr class="scr-hd-br ex-tr">
                                            <td colspan="2">Extras</td>
                                            <td>16</td>
                                            <td colspan="4">(W 12, LB 4)</td>

                                        </tr>
                                        <tr class="scr-hd-br ex-tr">
                                            <td colspan="2">Total Runs</td>
                                            <td>251</td>
                                            <td colspan="4">(10 wkts, 48.3 ov)</td>

                                        </tr>

                                    </tbody>

                                </table>
                            </div>
                            <div class="scr-hd-br"></div>
                        </div>
                    </div>




                    <div class="det-cont">
                        <!-- bowling -->
                        <div>
                            <div>
                                <table class="score-tbl">
                                    <thead>
                                        <tr class="scr-hd-br">
                                            <th style="width: 50px;" scope="col">Bowling</th>
                                            <th scope="col"></th>
                                            <th scope="col" class="text-center head-desc" style="width:32px">O</th>
                                            <th scope="col" class="text-center head-desc" style="width:24px">M</th>
                                            <th scope="col" class="text-center head-desc" style="width:24px">R</th>
                                            <th scope="col" class="text-center head-desc" style="width:24px">W</th>
                                            <th scope="col" class="text-center head-desc" style="width:40px">Eco</th>
                                            <th style="width:18px"></th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr></tr>
                                        <tr class="scr-hd-br">
                                            <td class="plyr-img-td">
                                                <div>
                                                    <img class="mom-img img-border" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSDvmXIKP1bReD_B1dnXHnd33JkhknBq0mTEqW6gdKCvIMkmkSs-7iZUnyVNwniH5MBp-J7nKcQL9Xs-vVcGCBxyX7QYFrSHomR7A" style="width:42px;height:42px" alt="">
                                                </div>
                                            </td>
                                            <td class="stat-td">
                                                <div> Tim Southee</div>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>10.0</span>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>1</span>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>41</span>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>2</span>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>4.10</span>
                                            </td>
                                            <td style="width:18px"></td>

                                        </tr>

                                        <tr></tr>

                                    </tbody>

                                    <tbody>
                                        <tr></tr>
                                        <tr class="scr-hd-br">
                                            <td class="plyr-img-td">
                                                <div>
                                                    <img class="mom-img img-border" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSDvmXIKP1bReD_B1dnXHnd33JkhknBq0mTEqW6gdKCvIMkmkSs-7iZUnyVNwniH5MBp-J7nKcQL9Xs-vVcGCBxyX7QYFrSHomR7A" style="width:42px;height:42px" alt="">
                                                </div>
                                            </td>
                                            <td class="stat-td">
                                                <div> Tim Southee</div>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>10.0</span>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>1</span>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>41</span>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>2</span>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>4.10</span>
                                            </td>
                                            <td style="width:18px"></td>

                                        </tr>

                                        <tr></tr>

                                    </tbody>

                                    <tbody>
                                        <tr></tr>
                                        <tr class="scr-hd-br">
                                            <td class="plyr-img-td">
                                                <div>
                                                    <img class="mom-img img-border" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSDvmXIKP1bReD_B1dnXHnd33JkhknBq0mTEqW6gdKCvIMkmkSs-7iZUnyVNwniH5MBp-J7nKcQL9Xs-vVcGCBxyX7QYFrSHomR7A" style="width:42px;height:42px" alt="">
                                                </div>
                                            </td>
                                            <td class="stat-td">
                                                <div> Tim Southee</div>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>10.0</span>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>1</span>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>41</span>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>2</span>
                                            </td>
                                            <td class="stat-td det-de">
                                                <span>4.10</span>
                                            </td>
                                            <td style="width:18px"></td>

                                        </tr>

                                        <tr></tr>

                                    </tbody>



                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ven-cont">
                    <div>
                        <div class="det-div">
                            <div class="toss-div">
                                <span style="padding-right: 5px;">Toss:</span>
                                <Span>IND won the toss and decided to bowl</Span>
                            </div>
                            <div class="toss-div" style="padding-right: 5px;">
                                <span>Stadium:</span>
                                <Span>Eden Park</Span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>



    </mat-tab>
    <mat-tab label="India">
        <app-summary></app-summary>
    </mat-tab>


</mat-tab-group>