<div class="player-container full-ht">



    <div class="cric-pad-top2rem event-div ht-200">
        <div class="left-float">
            <img src="{{imageHostName}}/players/{{playerModel.name.split(':')[1]}}.png" alt="Card image cap" alt="" width="140px" height="140px" onError="this.src='../../assets/Image/empty_profile.png'">

        </div>
        <div class="player-ttl left-float">
            <div>
                <span class="cric-font-40"> {{playerModel.name.split(':')[0]}}</span>
            </div>
            <div><span class="cric-font-20">{{playerModel.country.split(':')[0]}}</span></div>


        </div>
    </div>

    <div>
        <div class="left-float width-35 padd1rem plr-info-div-bgc">
            <div class="cric-font-16 fw-500">Personal Information</div>
            <div class="left-float width-40 pl-det-pad fw-500">Age: </div>
            <div class="left-float width-60 pl-det-pad">{{playerModel.age}}</div>

            <div class="left-float width-40 pl-det-pad fw-500">Height: </div>
            <div class="left-float width-60 pl-det-pad">--</div>

            <div class="left-float width-40 pl-det-pad fw-500">Player Type: </div>
            <div class="left-float width-60 pl-det-pad">{{playerModel.playerType}}</div>

            <div class="left-float width-40 pl-det-pad fw-500">Batting Style: </div>
            <div class="left-float width-60 pl-det-pad">{{playerModel.battingStyle}}</div>

            <div class="left-float width-40 pl-det-pad fw-500">Bowling Style: </div>
            <div class="left-float width-60 pl-det-pad">{{playerModel.bowlingStyle}}</div>


        </div>
        <div class='left-float pad-left-1rem width-60'>


            <table class="cric-tbl">
                <thead>
                    <tr class="scr-hd-br">
                        <th style="width: 24px;" scope="col" class="fts-12">Format</th>

                        <th scope="col" class="text-center fts-12" style="width:24px">M</th>
                        <th scope="col" class="text-center fts-12" style="width:24px">R</th>
                        <th scope="col" class="text-center fts-12" style="width:24px">HS</th>
                        <th scope="col" class="text-center fts-12" style="width:24px">Avg</th>
                        <th scope="col" style="width:24px" class="text-center fts-12">SR</th>
                        <th scope="col" class="text-center fts-12" style="width:24px">W</th>
                        <th scope="col" class="text-center fts-12" style="width:24px">BB</th>
                        <th scope="col" class="text-center fts-12" style="width:24px">Eco</th>
                        <th scope="col" class="text-center fts-12" style="width:24px">BA</th>
                    </tr>
                </thead>

                <tbody>
                    <tr></tr>
                    <tr class="scr-hd-br" *ngFor="let stat of playerModel.playerStats">

                        <td class="stat-td">
                            <span>  {{stat.formatName}} </span>
                        </td>
                        <td class="stat-td det-de">
                            <span>{{stat.matches}}</span>
                        </td>
                        <td class="stat-td det-de">
                            <span>{{stat.runs}}</span>
                        </td>
                        <td class="stat-td det-de">
                            <span>{{stat.highScore}}</span>
                        </td>
                        <td class="stat-td det-de">
                            <span>{{stat.battingAverage}}</span>
                        </td>
                        <td class="stat-td det-de">
                            <span>{{stat.battingStrikeRate}}</span>
                        </td>
                        <td class="stat-td det-de">
                            <span>{{stat.wickets}}</span>
                        </td>
                        <td class="stat-td det-de">
                            <span>{{stat.bestBowling}}</span>
                        </td>
                        <td class="stat-td det-de">
                            <span>{{stat.economyRate}}</span>
                        </td>
                        <td class="stat-td det-de">
                            <span>{{stat.bowlingAverage}}</span>
                        </td>


                    </tr>

                    <tr></tr>

                </tbody>

            </table>


        </div>
    </div>



</div>