<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="assets/images/player/{{player.id}}.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{player.name.split(':')[0]}}</h5>
      <p class="card-text">{{player.playerType}}</p>
      <p class="card-text">{{player.battingStyle}}</p>
      <p class="card-text">{{player.bowlingStyle}}</p>

    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">AGE : {{player.age}}</li>
    </ul>
  </div>