.image-div {
    padding-left: 3rem;
}

table {
    width: 100%;
    background-color: whitesmoke !important;
}

th {
    font-size: 15px;
    font-weight: bold;
}

.player-desc-div {
    padding: 0rem 10rem;
}

.player-ttl {
    width: 74%;
    padding-top: 90px;
    padding-left: 10px;
}

.pl-det-pad {
    padding: 12px 0 5px;
}

.plr-info-div-bgc {
    background-color: #b3ede7;
}

table {
    background-color: white !important;
}

.player-container {
    max-width: 70rem;
    margin: 0 auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .16);
    background-color: white;
}

@media (max-width:900px) {
    .player-ttl {
        width: 45%;
        padding-top: 9px
    }
    .width-35 {
        width: 100%;
    }
    .pad-left-1rem {
        width: 100%;
        padding-top: 1rem;
    }
    .cric-font-40 {
        font-size: 25px;
    }
    tbody {
        font-size: 12px;
    }
}