.list-group-item {
    width: 25%;
    border-color: darkcyan;
    border-top-width: 1px;
}

.cric-overflow-hide {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cric-pad-bottom1rem {
    padding-bottom: 1rem;
}

.first-score {
    float: left;
    width: 64px;
}

.second-score {
    float: left;
    width: 64px;
}

.team-live-div {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

.live-div {
    padding: 16px 80px 16px 80px;
    border-top: 1px solid #eae4e4
}

.team2-div {
    margin: 0rem 15px;
}

.mat-tab-group {
    margin-bottom: 48px;
}

.ven-cont {
    width: 100%;
    font-size: 12px;
    line-height: 20px;
    border-top: 1px solid #ebebeb;
    background-color: #f8f9fa;
    color: rgba(0, 0, 0, .54);
}