<div class="cric-container">
    <div>
        <div class="cric-main-div border-bottom">
            <div class="cric-pad-top2rem">
                <div class="event-div">
                    <div>
                        <div class="cric-overflow-hide">
                            <span style="color:#232ebf">{{matchModel.leagueName}}</span>
                            <span> · </span>
                            <span>{{matchModel.date |  date: 'dd/MM/yyyy'}}</span>
                        </div>
                    </div>
                </div>
                <div class="padding-bottom2rem">
                    <div class="score-padding">

                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6 row center-align-item">
                                <div class="col-md-6 col-sm-6 col-xs-6 text-center">
                                    <div><img alt="" src="{{imageHostName}}/teams/{{matchModel.team1Name.split(':')[1]}}.png" style="width:64px;height:48px"></div>
                                    <div class="cric-overflow-hide"><span>{{matchModel.team1Name.split(':')[0]}}</span></div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 text-center">
                                    <div>{{matchModel.team1Score}}</div>
                                    <div>({{matchModel.team1Overs}})</div>
                                </div>


                            </div>


                            <div class="col-md-6 col-sm-6 col-xs-6 row center-align-item team2-div">
                                <div class="col-md-6 col-sm-6 col-xs-6 text-center">
                                    <div>{{matchModel.team2Score}}</div>
                                    <div>({{matchModel.team2Overs}})</div>
                                </div>

                                <div class="col-md-6 col-sm-6 col-xs-6 text-center">
                                    <div>
                                        <img src="{{imageHostName}}/teams/{{matchModel.team2Name.split(':')[1]}}.png" style="width:64px;height:48px">
                                    </div>
                                    <div class="cric-overflow-hide">
                                        <span>{{matchModel.team2Name.split(':')[0]}}</span>
                                    </div>
                                </div>

                            </div>

                        </div>


                    </div>

                    <div class="margin-top1rem">
                        <div class="text-center">
                            <div class="text-center mt-2">{{matchModel.gameNote}}</div>

                        </div>

                        <div class="text-center">
                            <div class="text-center mt-2">{{matchModel.gameClass}}</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <mat-tab-group animationDuration="0ms">
        <mat-tab label="Summary">
            <app-summary [matchModel]="matchModel"></app-summary>
        </mat-tab>
        <mat-tab label="Scorecard">
            <app-scorecard  [matchModel]="matchModel"></app-scorecard>
        </mat-tab>
        <mat-tab label="Commentary">
            <app-commentary></app-commentary>
        </mat-tab>
        <mat-tab label="Feeds">
            <app-feeds></app-feeds>
        </mat-tab>

    </mat-tab-group>

</div>