<div class="cric-container">
    <div>

        <div class="cric-pad-top2rem border-bottom padding-bottom2rem" *ngIf="league">
            <div class="event-div">
                <div>
                    <span class="season-head"> {{league.name}}</span>
                </div>

            </div>
        </div>



        <div>
            <div>
                <div class="tab-container">
                    <div class="det-cont">
                        <!-- batting -->
                        <div>
                            <div>
                                <table class="cric-tbl">
                                    <thead>
                                        <tr class="scr-hd-br">
                                            <th scope="col" style="width:20rem">Date</th>
                                            <th scope="col">Series Name</th>
                                            <!-- <th scope="col" style="width:10rem">Time</th> -->
                                            <!-- <th scope="col" class="text-center head-desc" >4s</th>
                                            <th scope="col" class="text-center head-desc" >6s</th>
                                            <th scope="col" class="text-center head-desc" >S/R</th> -->
                                            <!-- <th style="width:18px"></th> -->
                                        </tr>
                                    </thead>

                                    <tbody *ngFor='let season of seasons'>
                                        <tr></tr>
                                        <tr class="scr-hd-br">
                                            <td class="stat-td" style="width:18rem">
                                                {{season.startDate | date: 'longDate'}} - {{season.endDate | date: 'longDate'}}
                                            </td>
                                            <td class="stat-td">
                                                <div><span class="pointr"><u  (click) ='viewSeason(season.id, season.year)'>{{season.name}}</u></span> </div>
                                            </td>

                                            <!-- <td style="width:18px"></td> -->

                                        </tr>

                                        <tr></tr>

                                    </tbody>


                                </table>
                            </div>
                            <div class="scr-hd-br"></div>
                        </div>
                    </div>


                </div>



            </div>
        </div>


    </div>

</div>



<!-- <div class="container">


    <dl class="row">
        <dt class="col-sm-3">Id</dt>
        <dd class="col-sm-9">{{league.id}}</dd>
      
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9">
            {{league.name}}
        </dd>
        <dt class="col-sm-3">Abbreviation</dt>
        <dd class="col-sm-9">
            {{league.abbreviation}}
        </dd>
        <dt class="col-sm-3">Tournament</dt>
        <dd class="col-sm-9">
            {{league.tournament}}
        </dd>
      </dl>

      <h2>List of seasons</h2>

     <table class="table">
     
 
         <thead>
             <tr>

                 <th>Name</th>
                 <th>Short Name</th>
                 <th>Year</th>
                 <th>Start Date</th>
                 <th>End Date</th> 
                 <th></th>    
             </tr>
 
         </thead>
         <tbody>
             <tr *ngFor='let season of seasons'>
                 <td>{{season.name}}</td>
                 <td>{{season.shortName}}</td>
                 <td>{{season.year}}</td>
                 <td>{{season.startDate | date: 'longDate'}}</td>
                 <td>{{season.endDate | date: 'longDate'}}</td>
                 <td><button (click) = 'viewSeason(season.id, season.year)' class="btn btn-info">View</button></td>
             </tr>
         </tbody>
     </table>
 </div> -->