<div class="article-container">

    <div class="article-div">

        <div class="cric-pad-top2rem padding-bottom2rem">

            <form class="example-form" #articleForm="ngForm" (ngSubmit)="onClickSubmit(article)">
                <mat-form-field class="example-full-width">
                    <mat-label>Title</mat-label>
                    <input name="id" hidden [(ngModel)]="article.id">
                    <input matInput name="title" [(ngModel)]="article.title">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label></mat-label>
                    <textarea matInput name="prePara" [(ngModel)]="article.prePara"></textarea>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label></mat-label>
                    <textarea matInput name="postPara" [(ngModel)]="article.postPara"></textarea>
                </mat-form-field>

                <button mat-flat-button color="primary" type="submit">Save</button>

            </form>



        </div>

    </div>
</div>