<div class="cric-league-season-container">

    <div class="article-div">

        <div class="cric-pad-top2rem padding-bottom2rem">
            <div class="left-float">
                <div>
                    <span class="season-head">Your Article</span>
                </div>
                <div>
                    <span style="color: #80868b;">
                    </span>
                </div>
            </div>
            <div class="right-float">
                <a class="btn-borer-green" mat-stroked-button routerLink="/newArticle">Write Article</a>
            </div>
        </div>

        <div class="cric-pad-top2rem border-bottom padding-bottom1rem" *ngFor="let art of modelList">
            <div>
                <div class="padding-bottom1rem">
                    <span class="season-head">{{art.title}}</span>
                </div>
                <div>
                    <span style="color: #80868b;">
                        {{art.content}}
                    </span>
                </div>
            </div>
        </div>




        <!-- <div *ngFor="let art of modelList">
            <h3>{{art.title}}</h3>

            <span>{{art.content}}</span>

        </div> -->
    </div>
</div>