<div class="cric-league-season-container">
    <p>works</p>

    <div class="example-button-row">
        <div class="example-button-container">
            <!-- <button mat-fab color="" aria-label="Example icon button with a delete icon">
              <mat-icon>add</mat-icon>
            </button> -->

            <form class="example-form" #article="ngForm" (ngSubmit)="onClickSubmit(article.value)">
                <mat-form-field class="example-full-width">
                    <mat-label>Title</mat-label>
                    <input name="id" hidden [(ngModel)]="model.id">
                    <input matInput name="title" [(ngModel)]="model.title">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label></mat-label>
                    <textarea matInput name="content" [(ngModel)]="model.content"></textarea>
                </mat-form-field>

                <input type="submit" value="submit">
            </form>


        </div>

    </div>

    <div *ngFor="let art of modelList">
        <h3>{{art.title}}</h3>

        <span>{{art.content}}</span>

    </div>
</div>