<div class="cric-container" *ngIf="season">
    <div>

        <div class="cric-pad-top2rem border-bottom padding-bottom2rem">
            <div class="event-div">
                <div>
                    <span class="season-head">{{season.name}}</span>
                </div>
                <div>
                    <span style="color: #80868b;">
                    {{season.startDate | date: 'longDate'}} - {{season.endDate | date: 'longDate'}}</span>
                </div>
            </div>
        </div>



        <div>
            <div>
                <div class="league-container">
                    <div class="det-cont">
                        <!-- batting -->
                        <div>
                            <div>
                                <table class="score-tbl">
                                    <thead>
                                        <tr class="scr-hd-br">
                                            <th scope="col" style="width:15rem">Start Date</th>
                                            <th scope="col">Match Details</th>
                                            <th scope="col" style="width:10rem">Time</th>
                                            <!-- <th scope="col" class="text-center head-desc" >4s</th>
                                            <th scope="col" class="text-center head-desc" >6s</th>
                                            <th scope="col" class="text-center head-desc" >S/R</th> -->
                                            <!-- <th style="width:18px"></th> -->
                                        </tr>
                                    </thead>

                                    <tbody *ngFor='let match of matches'>
                                        <tr></tr>
                                        <tr class="scr-hd-br">
                                            <td class="stat-td" style="width:15rem">
                                                {{match.date | date: 'longDate'}}
                                            </td>
                                            <td class="stat-td">
                                                <div><span><u  class="pointr" (click)='viewMatch(match.id)'>{{match.team1Name.split(':')[0]}} vs {{match.team2Name.split(':')[0]}}</u>, {{match.gameClass}}</span> </div>
                                                <div class="note-det"> <span>{{match.gameNote}}</span></div>
                                            </td>
                                            <td class="stat-td" style="width:10rem">
                                                <span> {{match.date | date: 'shortTime'}} IST</span>
                                            </td>

                                            <!-- <td style="width:18px"></td> -->

                                        </tr>

                                        <tr></tr>

                                    </tbody>


                                </table>
                            </div>
                            <div class="scr-hd-br"></div>
                        </div>
                    </div>


                </div>



            </div>
        </div>


    </div>

</div>