.toss-div {
    padding: 5px;
}

.wkt-det {
    padding-bottom: 10px;
    font-size: 11px;
    font-weight: 200;
}

.head-desc {
    font-size: 12px;
    color: rgba(0, 0, 0, .54);
    font-weight: normal;
}

.ex-tr {
    height: 3rem;
}

.tbl-wdt-50 {
    width: 50%;
}

.leader-div {
    border-right: solid 1px #eee;
    border-top: solid 1px #0b1d9b;
}

.teamname-text-wdt {
    width: 56%;
}

.tbl-wdt-84 {
    width: 84%;
}

.tbl-wdt-25 {
    width: 25%;
}

.tbl-wdt-66 {
    width: 66%;
}

.tbl-wdt-18 {
    width: 18%;
}

.tbl-wdt-16 {
    width: 16%;
}

.tbl-wdt-45 {
    width: 45%;
}

.seson-det-container {
    height: 595px;
}

.live-div {
    margin: 0 0.5rem;
}

.event-overflow {
    height: 551px;
    overflow-y: auto;
}

.lead-container {
    padding-left: 16px;
    padding-top: 20px;
    /* padding-bottom: 16px; */
    padding-right: 16px;
}

.lead-header {
    padding-bottom: 5px;
    font-size: large;
    font-weight: 500;
}

.event-overflow::-webkit-scrollbar {
    width: 2px;
}

.event-overflow::-webkit-scrollbar-thumb {
    border: 3px solid #0b1d9b;
}

.inline {
    display: inline-block;
}

.ts-div {
    margin-right: 12px;
    padding-top: 38px;
}

.fnt-inht {
    font-size: inherit;
}

.top-run-div {
    padding: 5px;
}

.ht-90 {
    height: 90px;
}

.width-21 {
    width: 21%;
}

@media (max-width:1100px) {
    /* .left-float {
        float: none;
    }
    .right-float {
        float: none;
    } */
    .tbl-wdt-25 {
        width: 100%;
    }
    .tbl-wdt-50 {
        width: 100%;
    }
    .tbl-wdt-66 {
        width: 100%;
    }
    .tbl-wdt-18 {
        width: 100%;
    }
    .tbl-wdt-16 {
        width: 100%;
    }
    .tbl-wdt-45 {
        width: 100%;
    }
    .tbl-wdt-88 {
        width: 100%;
    }
    .tbl-wdt-70 .event-div {
        margin: unset;
    }
    .event-overflow {
        max-height: 280px;
        overflow-y: auto;
    }
    .seson-det-container {
        height: 1000px;
    }
    .ht-200 {
        height: auto;
    }
    .width-55 {
        width: 100%;
    }
    .width-21 {
        width: 100%;
    }
    .lead-container {
        padding-left: 10px;
        padding-top: 20px;
        padding-bottom: 16px;
        padding-right: 0px;
    }
}