.league-container {
    padding-bottom: 24px;
    border-bottom: solid 1px #ebebeb;
}

.note-det {
    padding-bottom: 10px;
    font-size: 13px;
    font-weight: 200;
}


.league-live-events {
    font-family: arial,sans-serif;
    font-size: 14px;
    color: #222;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    visibility: inherit;
    text-align: left;
    white-space: normal;
    user-select: none;
    border-bottom: solid 1px #ebebeb;
}


.league-live-events-heading {
    font-size: 20px;
    text-align: left;
    white-space: normal;
    user-select: none;
    color:red;
    border-bottom: 1px solid #ebebeb;
    background: #f5f5f5;
    padding: 12px 24px 10px;
    font-family: arial,sans-serif-medium,sans-serif;
    font-weight: normal;
}

.league-live-event {
    font-family: arial,sans-serif;
    font-size: 14px;
    color: #222;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    visibility: inherit;
    text-align: left;
    white-space: normal;
    user-select: none;
}

.league-live-event-tb {
    font-family: arial,sans-serif;
    font-size: 14px;
    color: #222;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    visibility: inherit;
    text-align: left;
    white-space: normal;
    user-select: none;
    width: 100%;
    border-collapse: collapse;
}

.league-live-event-td {
    font-family: arial,sans-serif;
    font-size: 14px;
    color: #222;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    visibility: inherit;
    text-align: left;
    white-space: normal;
    user-select: none;
    border-collapse: collapse;
    border-right: solid 1px #e0e0e0;
    width: 50%;

}

.league-live-event-td-div {

    font-family: arial,sans-serif;
    font-size: 14px;
    color: #222;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    visibility: inherit;
    text-align: left;
    white-space: normal;
    user-select: none;
    border-collapse: collapse;
    outline: none;
}

.league-live-event-td-div-div {
    font-family: arial,sans-serif;
    font-size: 14px;
    color: #222;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    visibility: inherit;
    text-align: left;
    white-space: normal;
    user-select: none;
    border-collapse: collapse;
    cursor: pointer;
}

.league-live-event-td-div-div-div {

    font-family: arial,sans-serif;
    font-size: 14px;
    color: #222;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    visibility: inherit;
    text-align: left;
    white-space: normal;
    user-select: none;
    border-collapse: collapse;
    cursor: pointer;
}

.league-live-event-td-div-div-div-table {
    font-family: arial,sans-serif;
    font-size: 14px;
    color: #222;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    visibility: inherit;
    text-align: left;
    white-space: normal;
    user-select: none;
    cursor: pointer;
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    min-height: 108px;
}

.league-live-event-td-div-div-div-table-tr {
    font-family: arial,sans-serif;
    font-size: 14px;
    color: #222;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    visibility: inherit;
    text-align: left;
    white-space: normal;
    user-select: none;
    cursor: pointer;
    border-spacing: 0;
    height: 16px;

}

.league-live-event-td-div-div-div-team-tr {
    font-family: arial,sans-serif;
    font-size: 14px;
    color: #222;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    visibility: inherit;
    text-align: left;
    white-space: normal;
    user-select: none;
    cursor: pointer;
    border-spacing: 0;
    height: 32px;
}

.league-live-event-td-div-div-div-team-td {
    font-family: arial,sans-serif;
    font-size: 14px;
    color: #222;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    visibility: inherit;
    text-align: left;
    white-space: normal;
    user-select: none;
    cursor: pointer;
    border-spacing: 0;
    vertical-align: top;
    box-sizing: border-box;
    padding: 0 16px 0;
    width: 64px;
    padding-left: 24px;


}

.league-live-event-td-div-div-div-team-td-image {

    font-family: arial,sans-serif;
    font-size: 14px;
    color: #222;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    visibility: inherit;
    text-align: left;
    white-space: normal;
    user-select: none;
    cursor: pointer;
    border-spacing: 0;
    width: 24px;
    height: 24px;

}
.league-live-event-td-div-div-div-team-td-name {
    font-family: arial,sans-serif;
    font-size: 14px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    visibility: inherit;
    text-align: left;
    white-space: normal;
    user-select: none;
    cursor: pointer;
    border-spacing: 0;
    padding-top: 2px;
    line-height: 20px;
    vertical-align: top;
    position: relative;
    color: #212121;
}

.league-live-event-td-div-div-div-team-score {

    font-family: arial,sans-serif;
    font-size: 14px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    visibility: inherit;
    text-align: left;
    white-space: normal;
    user-select: none;
    cursor: pointer;
    border-spacing: 0;
    padding-top: 2px;
    line-height: 20px;
    vertical-align: top;
    position: relative;
    color: #212121;
}