.toss-div {
    padding: 5px;
}

.wkt-det {
    padding-bottom: 10px;
    font-size: 11px;
    font-weight: 200;
}

.head-desc {
    font-size: 12px;
    color: rgba(0, 0, 0, .54);
    font-weight: normal;
}

.ex-tr {
    height: 3rem;
}

.tbl-wdt-50 {
    width: 50%;
}

.leader-div {
    border-right: solid 1px #eee;
    border-top: solid 1px #17abcc;
}

.teamname-text-wdt {
    width: 56%;
}

.tbl-wdt-88 {
    width: 87%;
}

.tbl-wdt-25 {
    width: 25%;
}

.tbl-wdt-70 {
    width: 69%;
}

.tbl-wdt-18 {
    width: 18%;
}

.tbl-wdt-12 {
    width: 13%;
}

.tbl-wdt-45 {
    width: 45%;
}

.seson-det-container {
    height: 595px;
}

.live-div {
    margin: 0 0.5rem;
}

.event-overflow {
    height: 540px;
    overflow-y: auto;
}

.lead-container {
    padding-left: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.lead-header {
    padding-bottom: 15px;
    font-size: large;
    font-weight: 500;
}

.event-overflow::-webkit-scrollbar {
    width: 2px;
}

.event-overflow::-webkit-scrollbar-thumb {
    border: 2px solid #17abcc;
}

.inline {
    display: inline-block;
}

.live {
    margin: 0;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    font-family: 'Teko', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    animation: glow 1s ease-in-out infinite alternate;
    text-align: center;
}

@keyframes glow {
    from {
        text-shadow: 0 0 20px green;
    }
    to {
        text-shadow: 0 0 30px green, 0 0 10px green;
    }
}

@media (max-width:1100px) {
    .left-float {
        float: none;
    }
    .right-float {
        float: none;
    }
    .tbl-wdt-25 {
        width: 100%;
    }
    .tbl-wdt-50 {
        width: 100%;
    }
    .tbl-wdt-70 {
        width: 100%;
    }
    .tbl-wdt-18 {
        width: 100%;
    }
    .tbl-wdt-12 {
        width: 100%;
    }
    .tbl-wdt-45 {
        width: 100%;
    }
    .tbl-wdt-88 {
        width: 100%;
    }
    .tbl-wdt-70 .event-div {
        margin: unset;
    }
    .event-overflow {
        max-height: 280px;
        overflow-y: auto;
    }
    .seson-det-container {
        height: 1000px;
    }
}