<div class="cric-container">
    <div class="league-ht cric-pad-top2rem" *ngIf="leagueIndex">

        <div class="left-float scr-hd-br-rt" style="width: 50%;">
            <app-tours-list [leagueList]="leagueIndex.tournaments" [headText]="'Tournament'"></app-tours-list>
        </div>

        <div class="right-float" style="width: 50%;">

            <app-tours-list [leagueList]="leagueIndex.tours" [headText]="'Tours'"></app-tours-list>


        </div>





    </div>




</div>




<!-- 

<h1>List of leagues</h1>


<div class="container">
    <table class="table">


        <thead>
            <tr>
                <th>Id</th>
                <th>Abbreviation</th>
                <th>Name</th>
                <th>Tournament</th>
                <th></th>
            </tr>

        </thead>
        <tbody>
            <tr *ngFor='let league of leagues'>
                <td>{{league.id}}</td>
                <td>{{league.abbreviation}}</td>
                <td>{{league.name}}</td>
                <td>{{league.tournament}}</td>
                <td><button (click)=v iewLeague(league.id) class="btn btn-info">View</button></td>

            </tr>

        </tbody>
    </table>
</div> -->