<div class="cric-league-season-container">

    <div class="article-div">

        <div class="cric-pad-top2rem padding-bottom2rem">

            <form class="example-form" #articleForm="ngForm" (ngSubmit)="onClickUpdate(article)">
                <mat-form-field class="example-full-width">
                    <mat-label>Title</mat-label>
                    <input name="id" hidden [(ngModel)]="article.id">
                    <input matInput name="title" [(ngModel)]="article.title">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Paragraph 1</mat-label>
                    <textarea matInput name="prePara" [(ngModel)]="article.prePara" rows="10"></textarea>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Image</mat-label>
                    <input type="file" name = "articleImage" [(ngModel)]="article.articleImage">
                </mat-form-field>


                <mat-form-field class="example-full-width">
                    <mat-label>Paragraph 2</mat-label>
                    <textarea matInput name="postPara" [(ngModel)]="article.postPara" rows="10"></textarea>
                </mat-form-field>

                <button mat-flat-button color="primary" type="submit">Save</button>

            </form>



        </div>

    </div>
</div>