
<h1>User</h1>

<div class="container">
    <form (ngSubmit)="!userForm.invalid && saveUser()" #userForm="ngForm">

        <div class="alert alert-warning" *ngIf="userForm.dirty && userForm.invalid">Enter valid values.</div>
        <fieldset class="form-group">
            <label>User Name</label>
            <input type="text" [(ngModel)]="user.userName" name="username" required="required" minlength="5" class="form-control"/>
        </fieldset>


        <fieldset class="form-group">
            <label>Photo</label>
            <input type="file" [(ngModel)]="user.image" name="image" accept="image/*">
        </fieldset>
       

        <fieldset class="form-group">
            <label>First Name</label>
            <input type="text" [(ngModel)]="user.firstName" name="firstname" required="required" class="form-control"/>
        </fieldset>

        <fieldset class="form-group">
            <label>Last Name</label>
            <input type="text"  [(ngModel)]="user.lastName" name="lastname" required="required" class="form-control"/>
        </fieldset>


        <fieldset class="form-group">
            <label>E-Mail</label>
            <input type="email"  [(ngModel)]="user.email" name="email" required="required" class="form-control"/>
        </fieldset>

        <fieldset class="form-group">
            <label>Password</label>
            <input type="password"  [(ngModel)]="user.password" name="password" required="required" class="form-control"/>
        </fieldset>

        <button  type="submit" class="btn btn-success">Save</button>
    </form>
</div>