.player-div {
    border-bottom: 1px solid #77889938;
    margin: 1px;
    /* padding: 0.5em; */
}

.player-span {
    margin-right: 1rem;
    margin-left: 1rem
}

.arrow-right {
    color: #337ab7;
    margin-top: 75%;
    background: white;
    border: solid 0px;
}

.arrow-left {
    border-radius: 1rem;
    color: #337ab7;
    /* margin-top: 50%; */
    background: white;
    border: solid 0px;
    margin-left: -2rem;
}

.cross {
    color: darkgrey;
    margin-top: 20%;
    border: solid 0px;
    font-weight: 100;
    background: white;
}

.card-title {
    color: rgba(0, 0, 0, .54) !important;
    font-weight: bold !important;
    font-size: large !important;
}

a {
    color: #948393 !important;
    text-decoration: none !important;
    font-weight: 500 !important;
}

.note {
    color: #0c7d0b;
}

.glyphicon {
    top: 1rem !important;
}

.borderWhtesmoke {
    border-right: solid 1rem whitesmoke;
}