<div class="a b c">
<div>
    <div class="s u qy gc gd cy">

    </div>
    <section class="ge gf gg gh gi">
        <div class="n p">
            <div class="z ab ac ae af gj ah ai">
                <div><h1 id="bce8" class="gk gl gm gn b go gp gq gr gs gt gu gv gw gx gy gz ha hb hc hd fg">{{article.title}}</h1>
                    <div class="he"><div class="n fc hf hg hh">
                        <div class="o n">
                            <div>
                                <a rel="noopener">
                                    
                                    <img alt="Sachin Tendulkar" class="r cz hi hj" src="{{imageHostName}}/users/st.png" width="48" height="48"></a>
                            </div>
                            <div class="hk ai r">
                                <div class="n">
                                    <div style="flex:1">
                                        <span class="ds dt bv bw fg">
                                            <div class="hl n o hm">
                                                <span class="ds dt bv bw bp hn bo ho hp hq fg">
                                                    <a class="cb cc au av aw ax ay az ba bb hr be cf cg" rel="noopener" href="">Nagaraja Devadiga</a>
                                                </span>
                                                <div class="fn r bh h">
                                                    <button class="ds dt du bw hs ht hu cr hv hw hx hy bb hz ia ib ic id ie if ig eo br ih">Follow</button>
                                                </div>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                                <span class="ds dt bv bw dv"><span class="ds dt bv bw bp hn bo ho hp hq dv">
                                <div>
                                    <a class="cb cc au av aw ax ay az ba bb hr be cf cg" rel="noopener" href="/javascript-in-plain-english/how-to-add-graphs-and-charts-to-an-angular-app-508ac895067f?source=post_page-----508ac895067f----------------------">Dec 28, 2019</a> <!-- --> · <!-- --> <!-- -->3<!-- --> min read<span style="padding-left:4px"><svg class="star-15px_svg__svgIcon-use" width="15" height="15" viewBox="0 0 15 15" style="margin-top:-2px"><path d="M7.44 2.32c.03-.1.09-.1.12 0l1.2 3.53a.29.29 0 0 0 .26.2h3.88c.11 0 .13.04.04.1L9.8 8.33a.27.27 0 0 0-.1.29l1.2 3.53c.03.1-.01.13-.1.07l-3.14-2.18a.3.3 0 0 0-.32 0L4.2 12.22c-.1.06-.14.03-.1-.07l1.2-3.53a.27.27 0 0 0-.1-.3L2.06 6.16c-.1-.06-.07-.12.03-.12h3.89a.29.29 0 0 0 .26-.19l1.2-3.52z"></path></svg></span></div></span></span></div></div><div class="n ii ij ik il im in io ip y"><div class="n o">
                                        <div class="iq r bh"><button class="cb cc au av aw ax ay az ba bb cd ce be cf cg"><svg width="29" height="29" class="bi"><path d="M22.05 7.54a4.47 4.47 0 0 0-3.3-1.46 4.53 4.53 0 0 0-4.53 4.53c0 .35.04.7.08 1.05A12.9 12.9 0 0 1 5 6.89a5.1 5.1 0 0 0-.65 2.26c.03 1.6.83 2.99 2.02 3.79a4.3 4.3 0 0 1-2.02-.57v.08a4.55 4.55 0 0 0 3.63 4.44c-.4.08-.8.13-1.21.16l-.81-.08a4.54 4.54 0 0 0 4.2 3.15 9.56 9.56 0 0 1-5.66 1.94l-1.05-.08c2 1.27 4.38 2.02 6.94 2.02 8.3 0 12.86-6.9 12.84-12.85.02-.24 0-.43 0-.65a8.68 8.68 0 0 0 2.26-2.34c-.82.38-1.7.62-2.6.72a4.37 4.37 0 0 0 1.95-2.51c-.84.53-1.81.9-2.83 1.13z"></path></svg></button></div>                                        
                                        <div class="iq r bh"><button class="cb cc au av aw ax ay az ba bb cd ce be cf cg"><svg width="29" height="29" class="bi"><path d="M23.2 5H5.8a.8.8 0 0 0-.8.8V23.2c0 .44.35.8.8.8h9.3v-7.13h-2.38V13.9h2.38v-2.38c0-2.45 1.55-3.66 3.74-3.66 1.05 0 1.95.08 2.2.11v2.57h-1.5c-1.2 0-1.48.57-1.48 1.4v1.96h2.97l-.6 2.97h-2.37l.05 7.12h5.1a.8.8 0 0 0 .79-.8V5.8a.8.8 0 0 0-.8-.79"></path></svg></button></div><div class="ir r"><div><div class="is"><div><div class="br" role="tooltip" aria-hidden="false" aria-describedby="1" aria-labelledby="1"><button class="cb cc au av aw ax ay az ba bb cd ce be cf cg"><svg width="25" height="25" viewBox="0 0 25 25"><path d="M19 6a2 2 0 0 0-2-2H8a2 2 0 0 0-2 2v14.66h.01c.01.1.05.2.12.28a.5.5 0 0 0 .7.03l5.67-4.12 5.66 4.13a.5.5 0 0 0 .71-.03.5.5 0 0 0 .12-.29H19V6zm-6.84 9.97L7 19.64V6a1 1 0 0 1 1-1h9a1 1 0 0 1 1 1v13.64l-5.16-3.67a.49.49 0 0 0-.68 0z" fill-rule="evenodd"></path></svg></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="it r am">
                        <div class="br" aria-hidden="false">
                            <div class="br" aria-hidden="false">
                                <div class="r bh">
                                    <button class="cb cc au av aw ax ay az ba bb cd ce be cf cg"><svg class="q iu iv" width="25" height="25"><path d="M5 12.5c0 .55.2 1.02.59 1.41.39.4.86.59 1.41.59.55 0 1.02-.2 1.41-.59.4-.39.59-.86.59-1.41 0-.55-.2-1.02-.59-1.41A1.93 1.93 0 0 0 7 10.5c-.55 0-1.02.2-1.41.59-.4.39-.59.86-.59 1.41zm5.62 0c0 .55.2 1.02.58 1.41.4.4.87.59 1.42.59.55 0 1.02-.2 1.41-.59.4-.39.59-.86.59-1.41 0-.55-.2-1.02-.59-1.41a1.93 1.93 0 0 0-1.41-.59c-.55 0-1.03.2-1.42.59-.39.39-.58.86-.58 1.41zm5.6 0c0 .55.2 1.02.58 1.41.4.4.87.59 1.43.59.56 0 1.03-.2 1.42-.59.39-.39.58-.86.58-1.41 0-.55-.2-1.02-.58-1.41a1.93 1.93 0 0 0-1.42-.59c-.56 0-1.04.2-1.43.59-.39.39-.58.86-.58 1.41z" fill-rule="evenodd"></path></svg></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <p id="65a7" class="iw ix gm iy b iz ja jb jc jd je jf jg jh ji jj jk jl jm jn jo jp jq jr js jt ge fg" data-selectable-paragraph="">
        {{article.prePara}}    </p>

    <figure class="kb kc kd ke kf kt fy fz paragraph-image">
        <div class="ku kv by kw ai">
            <div class="fy fz vy">
            <div class="la r by fm">
                <div class="vz lc r">
                    <img alt="Image for post" class="er qy s t u ee ai c" width="5437" height="3625" src="{{imageHostName}}/articles/{{article.id}}.jpg" 
                     sizes="700px"><noscript></noscript>
                </div>
                </div>
                </div>
        </div>
        <figcaption class="wa rc ga fy fz wb wc ds dt bv bw dv" data-selectable-paragraph="">Photo taken from Google images. </figcaption>
    </figure>        
        <p id="1888" class="iw ix gm iy b iz ja jb jc jd je jf jg jh ji jj jk jl jm jn jo jp jq jr js jt ge fg" data-selectable-paragraph="">
            {{article.postPara}} 
        </p>


    </div>


    
