/* You can add global styles to this file, and also import other style files */

@import url(https://unpkg.com/bootstrap@4.3.1/dist/css/bootstrap.min.css);
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cric-pad-top2rem {
    padding-top: 2rem;
}

.padd1rem {
    padding: 1rem;
}

.pad-left-1rem {
    padding-left: 1rem;
    ;
}

.event-div {
    margin: 0 1.5rem;
}

.padding-bottom2rem {
    padding-bottom: 2rem;
}

.score-padding {
    padding: 22px 50px 0 50px;
    height: 90px;
}

.center-align-item {
    align-items: center;
}

.margin-top1rem {
    margin-top: 1rem;
}

.border-bottom {
    border-bottom: 1px solid #eae4e4;
}

.mom-img {
    border-radius: 50%;
    display: block;
}

.img-border {
    border-style: solid;
    border-width: 1px;
    border-color: #e9e3e3;
}

.cric-container {
    max-width: 50rem;
    margin: 0 auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .16);
    background-color: white;
}

.cric-league-season-container {
    margin: 0 auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .16);
    background-color: white;
}

.bgc-smoke {
    background-color: whitesmoke !important;
}

body {
    background-color: whitesmoke !important;
}

.bg-slateblue {
    background-color: #0b1d9b;
}

.pointr {
    cursor: pointer;
}

.cric-tbl {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    text-align: left;
}

.scr-hd-br {
    border-bottom: 1px solid #ebebeb;
}

.scr-hd-br-rt {
    border-right: 1px solid #ebebeb !important;
}

.scr-hd-br-lt {
    border-left: 1px solid #ebebeb !important;
}

.stat-td {
    padding-top: 8px;
    padding-bottom: 2px;
    padding-right: 4px;
}

.det-cont {
    padding-left: 24px;
    padding-top: 16px;
}

.season-head {
    font-size: x-large;
    font-weight: 500;
}

.tab-container {
    padding-bottom: 24px;
    /* border-bottom: solid 1px #ebebeb; */
}

.left-float {
    float: left;
}

.right-float {
    float: right;
}

.ellipsisize {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sm_mt__t-sc {
    padding-left: 8px;
    text-align: right;
    float: right;
}

.btn-borer-green {
    color: #029e74;
}

.article-div {
    margin: 0 3rem;
    height: 700px;
    overflow: auto;
}

.width-50 {
    width: 50%;
}

.width-30 {
    width: 30%;
}

.width-35 {
    width: 35%;
}

.width-40 {
    width: 40%;
}

.width-60 {
    width: 60%;
}

.pad-top-10 {
    padding-top: 10px;
}

.ht-200 {
    height: 200px;
}

.fw-500 {
    font-weight: 500;
}

.full-ht {
    height: 700px;
    ;
}

.cric-font-40 {
    font-size: 40px;
}

.cric-font-20 {
    font-size: 20px;
}

.cric-font-16 {
    font-size: 16px;
}

.score-tbl {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    text-align: left;
}

.head-desc {
    font-size: 12px;
    color: rgba(0, 0, 0, .54);
    font-weight: normal;
}

.det-de {
    width: 24px;
    text-align: center;
    vertical-align: baseline;
}