<div>
    <div class="score-sumaary-div">
        <div>
            <div>
                <div>
                    <div>
                        <div class="mom-div" style="background-color: slateblue;">
                            <div style="float: left;">
                                <div class="mom-text-div">
                                    Player Of the Match
                                </div>

                                <div>
                                    <span>Matt Henry</span>
                                    <span>
                                        (NZ)
                                    </span>
                                    <span>.</span>
                                    <span>3/37(10) & 1(2)</span>


                                </div>
                            </div>

                            <div style="float: right;">
                                <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTU2QVG4bN1md2aFKphcvRp4Oa_4tPwLYnKLioFFlWEedtyuVA0TzKGeZf_PkrIHQwdtHzkWvfIlaqHTjd385lOuwYR5tn2yBpzpw" style="width:64px;height:64px" alt="" aria-hidden="true" data-url="/search?rlz=1C1GCEA_enIN888IN888&amp;q=Matt+Henry&amp;stick=H4sIAAAAAAAAAONgVuLSz9U3iE_PKyyofMRoyi3w8sc9YSmdSWtOXmNU4-IKzsgvd80rySypFJLgYoOy-KR4uJC08Sxi5fJNLClR8EjNK6oEAGaJBCNTAAAA"
                                    role="link" tabindex="0" class="mom-img">

                            </div>
                        </div>

                    </div>


                    <div>
                        <!-- scoredetails -->
                        <div>
                            <!-- for-->
                            <div>
                                <div class="summary-header">
                                    <span class="summary-hr"></span>
                                    <span class="summary-team-span">
                                        <span class="team-logo-span">
                                            <img class="imso_btl__mh-logo" alt="" src="//ssl.gstatic.com/onebox/media/sports/logos/VnSt4NnQhVxsjgNck2HkKw_48x48.png" style="width:20px;height:20px">
                                        </span>
                                    <span>New Zealand</span>
                                    <span>.</span>
                                    <span>239/8 (50)</span>


                                    </span>
                                    <span class="summary-hr"></span>
                                </div>

                                <div class="sum-desc-div">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="player-sum-td">
                                                    <div class="bat-sum-div">
                                                        <img class="mom-img img-border" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQeqWcKzMFr7rvzNKslnM4lvbmcUDMhz7i6eC_t7X9QvpxNt-LoWrii9JAAWDe0SKsILYaSFhc5A4Bz2c1es6pcnwqR7M4WF_qY-Q" style="width:42px;height:42px" alt="" aria-hidden="true" role="link">
                                                    </div>
                                                    <div class="player-name-div">Ross Taylor</div>
                                                    <div>74 (90)</div>
                                                </td>

                                                <td class="player-sum-td">
                                                    <div class="bowl-sum-div">
                                                        <img class="mom-img img-border" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSiESy2JDNMX65YSXj-OqeNJPSGPlapn9cDcovmTrLNgtW96zNPKKnmBwmd5A98h1e2WmkoSrATauUafPdHv7AeLAjPND-unNtoEQ" style="width:42px;height:42px" alt="" aria-hidden="true" role="link">
                                                    </div>
                                                    <div class="player-name-div text-right">Bhuvaneshwar Kumar</div>
                                                    <div class="text-right">3/43 (10)</div>


                                                </td>

                                            </tr>



                                            <tr>
                                                <td class="player-sum-td">
                                                    <div class="bat-sum-div">
                                                        <img class="mom-img img-border" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQeqWcKzMFr7rvzNKslnM4lvbmcUDMhz7i6eC_t7X9QvpxNt-LoWrii9JAAWDe0SKsILYaSFhc5A4Bz2c1es6pcnwqR7M4WF_qY-Q" style="width:42px;height:42px" alt="" aria-hidden="true" role="link">
                                                    </div>
                                                    <div class="player-name-div">Ross Taylor</div>
                                                    <div>74 (90)</div>
                                                </td>

                                                <td class="player-sum-td">
                                                    <div class="bowl-sum-div">
                                                        <img class="mom-img img-border" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSiESy2JDNMX65YSXj-OqeNJPSGPlapn9cDcovmTrLNgtW96zNPKKnmBwmd5A98h1e2WmkoSrATauUafPdHv7AeLAjPND-unNtoEQ" style="width:42px;height:42px" alt="" aria-hidden="true" role="link">
                                                    </div>
                                                    <div class="player-name-div text-right">Bhuvaneshwar Kumar</div>
                                                    <div class="text-right">3/43 (10)</div>


                                                </td>

                                            </tr>

                                            <tr>
                                                <td class="player-sum-td">
                                                    <div class="bat-sum-div">
                                                        <img class="mom-img img-border" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQeqWcKzMFr7rvzNKslnM4lvbmcUDMhz7i6eC_t7X9QvpxNt-LoWrii9JAAWDe0SKsILYaSFhc5A4Bz2c1es6pcnwqR7M4WF_qY-Q" style="width:42px;height:42px" alt="" aria-hidden="true" role="link">
                                                    </div>
                                                    <div class="player-name-div">Ross Taylor</div>
                                                    <div>74 (90)</div>
                                                </td>

                                                <td class="player-sum-td">
                                                    <div class="bowl-sum-div">
                                                        <img class="mom-img img-border" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSiESy2JDNMX65YSXj-OqeNJPSGPlapn9cDcovmTrLNgtW96zNPKKnmBwmd5A98h1e2WmkoSrATauUafPdHv7AeLAjPND-unNtoEQ" style="width:42px;height:42px" alt="" aria-hidden="true" role="link">
                                                    </div>
                                                    <div class="player-name-div text-right">Bhuvaneshwar Kumar</div>
                                                    <div class="text-right">3/43 (10)</div>


                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>

                            <div>
                                <div class="summary-header">
                                    <span class="summary-hr"></span>
                                    <span class="summary-team-span">
                                        <span class="team-logo-span">
                                            <img class="imso_btl__mh-logo" alt="" src="//ssl.gstatic.com/onebox/media/sports/logos/VnSt4NnQhVxsjgNck2HkKw_48x48.png" style="width:20px;height:20px">
                                        </span>
                                    <span>New Zealand</span>
                                    <span>.</span>
                                    <span>239/8 (50)</span>


                                    </span>
                                    <span class="summary-hr"></span>
                                </div>

                                <div class="sum-desc-div">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="player-sum-td">
                                                    <div class="bat-sum-div">
                                                        <img class="mom-img img-border" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQeqWcKzMFr7rvzNKslnM4lvbmcUDMhz7i6eC_t7X9QvpxNt-LoWrii9JAAWDe0SKsILYaSFhc5A4Bz2c1es6pcnwqR7M4WF_qY-Q" style="width:42px;height:42px" alt="" aria-hidden="true" role="link">
                                                    </div>
                                                    <div class="player-name-div">Ross Taylor</div>
                                                    <div>74 (90)</div>
                                                </td>

                                                <td class="player-sum-td">
                                                    <div class="bowl-sum-div">
                                                        <img class="mom-img img-border" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSiESy2JDNMX65YSXj-OqeNJPSGPlapn9cDcovmTrLNgtW96zNPKKnmBwmd5A98h1e2WmkoSrATauUafPdHv7AeLAjPND-unNtoEQ" style="width:42px;height:42px" alt="" aria-hidden="true" role="link">
                                                    </div>
                                                    <div class="player-name-div text-right">Bhuvaneshwar Kumar</div>
                                                    <div class="text-right">3/43 (10)</div>


                                                </td>

                                            </tr>



                                            <tr>
                                                <td class="player-sum-td">
                                                    <div class="bat-sum-div">
                                                        <img class="mom-img img-border" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQeqWcKzMFr7rvzNKslnM4lvbmcUDMhz7i6eC_t7X9QvpxNt-LoWrii9JAAWDe0SKsILYaSFhc5A4Bz2c1es6pcnwqR7M4WF_qY-Q" style="width:42px;height:42px" alt="" aria-hidden="true" role="link">
                                                    </div>
                                                    <div class="player-name-div">Ross Taylor</div>
                                                    <div>74 (90)</div>
                                                </td>

                                                <td class="player-sum-td">
                                                    <div class="bowl-sum-div">
                                                        <img class="mom-img img-border" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSiESy2JDNMX65YSXj-OqeNJPSGPlapn9cDcovmTrLNgtW96zNPKKnmBwmd5A98h1e2WmkoSrATauUafPdHv7AeLAjPND-unNtoEQ" style="width:42px;height:42px" alt="" aria-hidden="true" role="link">
                                                    </div>
                                                    <div class="player-name-div text-right">Bhuvaneshwar Kumar</div>
                                                    <div class="text-right">3/43 (10)</div>


                                                </td>

                                            </tr>

                                            <tr>
                                                <td class="player-sum-td">
                                                    <div class="bat-sum-div">
                                                        <img class="mom-img img-border" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQeqWcKzMFr7rvzNKslnM4lvbmcUDMhz7i6eC_t7X9QvpxNt-LoWrii9JAAWDe0SKsILYaSFhc5A4Bz2c1es6pcnwqR7M4WF_qY-Q" style="width:42px;height:42px" alt="" aria-hidden="true" role="link">
                                                    </div>
                                                    <div class="player-name-div">Ross Taylor</div>
                                                    <div>74 (90)</div>
                                                </td>

                                                <td class="player-sum-td">
                                                    <div class="bowl-sum-div">
                                                        <img class="mom-img img-border" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSiESy2JDNMX65YSXj-OqeNJPSGPlapn9cDcovmTrLNgtW96zNPKKnmBwmd5A98h1e2WmkoSrATauUafPdHv7AeLAjPND-unNtoEQ" style="width:42px;height:42px" alt="" aria-hidden="true" role="link">
                                                    </div>
                                                    <div class="player-name-div text-right">Bhuvaneshwar Kumar</div>
                                                    <div class="text-right">3/43 (10)</div>


                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>