<div>
    <div class="score-sumaary-div">
        <div>
            <div>
                <div>
                    <div>
                        <div class="mom-div" style="background-color: slateblue;">
                            <div style="float: left;">
                                <div class="mom-text-div">
                                    Player Of the Match
                                </div>

                                <div>
                                    <span>{{matchModel.manOfTheMatch.playerName.split(":")[0]}}</span>
                                    <span>
                                        -{{matchModel.manOfTheMatch.teamName.split(":")[0]}}
                                    </span>


                                </div>
                            </div>

                            <div style="float: right;">
                                <img src="{{imageHostName}}/players/{{matchModel.manOfTheMatch.playerName.split(':')[1]}}.png" style="width:64px;height:64px" alt="" aria-hidden="true" data-url=""
                                    role="link" tabindex="0" class="mom-img">

                            </div>
                        </div>

                    </div>


                    <div>
                        <!-- scoredetails -->
                        <div>

                            <!-- for-->
                            <div *ngFor="let leader of matchModel.leaders">
                                <div class="summary-header">
                                    <span class="summary-hr"></span>
                                    <span class="summary-team-span">
                                        <span class="team-logo-span">
                                            <img class="imso_btl__mh-logo" alt="" src="{{imageHostName}}/teams/{{leader.inningsInfo.battingTeamName.split(':')[1]}}.png" style="width:20px;height:20px">
                                        </span>
                                    <span>{{leader.inningsInfo.battingTeamName.split(':')[0]}}</span>
                                    <span>.</span>
                                    <span>{{leader.inningsInfo.runs}}/{{leader.inningsInfo.wickets}} ({{leader.inningsInfo.overs}})</span>


                                    </span>
                                    <span class="summary-hr"></span>
                                </div>

                                <div class="sum-desc-div">
                                    <table>
                                        <tbody>
                                            <tr  *ngFor="let p of leader.battingLeaders;let i = index">
                                                <td class="player-sum-td">
                                                    <div class="bat-sum-div">
                                                        <img class="mom-img img-border" src="{{imageHostName}}/players/{{leader.battingLeaders[i].playerName.split(':')[1]}}.png" style="width:42px;height:42px" alt="" aria-hidden="true" role="link">
                                                    </div>
                                                    
                                                    <div class="player-name-div">
                                                        <span class="pointr" (click)="viewPlayer(leader.battingLeaders[i].playerName.split(':')[1])">  {{leader.battingLeaders[i].playerName.split(':')[0]}} </span>
                                                    </div>
                                                    <div>{{leader.battingLeaders[i].runs}} ({{leader.battingLeaders[i].balls}})</div>
                                                </td>

                                                <td class="player-sum-td">
                                                    <div class="bowl-sum-div">
                                                        <img class="mom-img img-border" src="{{imageHostName}}/players/{{leader.bowlingLeaders[i].playerName.split(':')[1]}}.png" style="width:42px;height:42px" alt="" aria-hidden="true" role="link">
                                                    </div>
                                                    <div class="player-name-div text-right">
                                                        <span class="pointr" (click)="viewPlayer(leader.bowlingLeaders[i].playerName.split(':')[1])">  {{leader.bowlingLeaders[i].playerName.split(':')[0]}} </span>
                                                    </div>
                                                    <div class="text-right">{{leader.bowlingLeaders[i].wickets}}/{{leader.bowlingLeaders[i].runs}} ({{leader.bowlingLeaders[i].overs}})</div>


                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>