<div class="cric-home-container" *ngIf="allGames.length >0">


    <div class="left-float arw-div left-arv-div">

        <a class="arrow left pointr" [ngClass]="{'arrow-disable':prevDisable}" (click)="getPrevGames()"></a>
    </div>
    <div class="ft-mt-div left-float">


        <div class="left-float tbl-wdt-23 scr-hd-br-rt mt-div border-bottom" *ngFor='let gameInfo of allGames | slice:start:end;'>

            <div (click)="viewMatch(gameInfo.gameId)" class="pointr">
                <app-match-desc [matchInfo]="gameInfo">

                </app-match-desc>
            </div>
        </div>

    </div>
    <div class="left-float arw-div">

        <a class="arrow right pointr" [ngClass]="{'arrow-disable':nextDisable}" (click)="getNextGames()"></a>
    </div>



</div>

<div class="mt-hm-cont" *ngIf="homeModel">
    <div class="left-float tour-div wdt-15">
        <app-tours-list [leagueList]="homeModel.tournaments" [headText]="'Tournament'"></app-tours-list>
    </div>



    <div class="right-float tour-div wdt-15">
        <app-tours-list [leagueList]="homeModel.tours" [headText]="'Tours'"></app-tours-list>
    </div>

    <div class="left-float tour-div wdt-47 feed-div">


        <div class="fd-div scr-hd-br" *ngFor="let art of homeModel.cricketArticles | slice:0:9;">

            <div style="min-height:60px;">
                <div class="left-float">


                    <img alt="Sachin Tendulkar" class="mom-img" src="{{imageHostName}}/users/{{art.authorInfo.userName}}.png" width="48" height="48">
                </div>
                <div class="left-float pad-left-1rem art-publish-fnt">
                    <div class="pub-txt-div">{{art.authorInfo.firstName}}&nbsp;{{art.authorInfo.lastName}}</div>
                    <div class="fw-300 fts-12"> <span>{{art.lastModified | date : 'medium'}}</span></div>

                </div>

            </div>

            <div>

                <img alt="Image for post" class="art-image" src="{{imageHostName}}/articles/{{art.id}}.jpg">
            </div>
            <div class="cric-pad-top1rem">
                <div class="cric-font-20 pointr"><span><a (click)="onClickView(art.id)">{{art.title}} </a></span> </div>


            </div>
        </div>