.cric-home-container {
    /* max-width: 90%; */
    margin: 0 auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .16);
    background-color: slateblue;
    height: 155px;
}

.tbl-wdt-23 {
    width: 23%;
    background-color: white;
}

.tbl-wdt-10 {
    width: 10%;
}

.ft-mt-div {
    width: 90%;
    margin-left: 25px;
    padding-top: 10px;
}

.mt-div {
    margin-right: 15px;
    border-radius: 5px;
    height: 135px;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    background-color: slateblue;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-top: 4rem;
    margin-left: 10px
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-top: 4rem;
    margin-right: 10px
}

.arrow-disable {
    border-color: #ffffff4a;
}

.mt-hm-cont {
    margin: 1rem;
}

.tour-div {
    background-color: white;
    border-radius: 10px;
}

.wdt-15 {
    width: 25%;
}

.feed-div {
    margin-right: 10px;
    margin-left: 17px;
    min-height: 400px;
}

.wdt-68 {
    width: 48%;
}

.left-arv-div {
    width: 4%;
    padding-left: 53px;
}

.fd-div {
    /* margin: 1rem 1.5rem;
    height: 150px; */
    padding: 2rem;
}

.arw-div {
    padding-top: 3rem;
}

.art-publish-fnt {
    font-size: 16px;
    line-height: 20px;
    max-height: 20px;
}

.pub-txt-div {
    padding-top: 3px;
    margin: 1rem 1.5rem;
    height: 150px;
}

.art-image {
    width: 700px;
    height: 350px;
}

@media (max-width:1100px) {
    .tbl-wdt-23 {
        width: 100%;
    }
    /* .arrow {
        display: none;
    } */
    .ft-mt-div {
        margin-left: 2px;
        width: 80%;
    }
    .cric-home-container {
        height: 570px;
    }
    .arw-div {
        height: 570px;
    }
    .left-arv-div {
        padding-left: 15px;
        width: 9%;
    }
    .wdt-15 {
        width: 49%;
    }
    .wdt-68 {
        width: 100%;
        margin: 10px 0 0 0;
    }
    .art-image {
        width: 350px;
        height: 300px;
    }
}